{% load staticfiles %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<!-- Custom fonts for this template -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- Custom styles for this template -->
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
<html>

<head>
</head>

<body>
    <table class="collection">
        <tr>
            {% for user in profile.users %}
      
                <p> {{user}} </p>
   
            {% endfor %}
        </tr>
    </table>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="{% static 'js/manage_html.js' %}"></script>
    <link href="{% static 'css/manage.css' %}" rel="stylesheet">
</body>

</html>