/*dividers for manager top bar*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
.pic_column {
    float: left;
    width: 100px;
}
.title_column {
    float: left;
    width: 80%;
    font-family: arial;
    font-size: 80px;
}

.list{
    margin-top:10px;
    margin-left:3%;
    margin-right:3%;
    width: 93%;
    resize:none;
}
.list2{
    
    border: 5px solid black;
    margin-top:10px;
    margin-left:3%;
    margin-right:3%;
    width: 93%;
    height: 60%;
    resize:none;
    background-color:rgb(240, 240, 240);
}

.body {
    width: 90%;
    height: 200px;
    background-color: #073B6B;
}
.col_title{
    float:left;
    position:relative;
    width:30%;
    height:19.667px;
    text-align: center;
    backgroud-color:  #000000;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.col_xtitle{ 
    float:left;
    width:35%;
    text-align: center;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.col_results{
    float:left;
    width:32%;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.col_xresults{
    float:left;
    width:35%;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.buttons {
               
    position: absolute;
    /*top: 35%;
    left: 30%;*/
    transform: translate(-50%, -50%);
    color:rgb(0, 0, 0);
    width: 120px;
    height: 80px;
    border: 2px solid #fff;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;

            
}
