<<<<<<< HEAD
//dividers for manager top bar
=======
/*dividers for manager top bar*/
>>>>>>> cc8c912af3cba6866474f7ad0e4ddf1e7fd61b7c
.row:after {
    content: "";
    display: table;
    clear: both;
}
.pic_column {
    float: left;
    width: 100px;
}
.title_column {
    float: left;
    width: 80%;
    font-family: arial;
    font-size: 80px;
}

.list{
    margin-top:10px;
    margin-left:3%;
    margin-right:3%;
    width: 93%;
    resize:none;
}
.list2{
    padding-bottom: 28%;
    border: 1px solid #aaa;
    margin-top:10px;
    margin-left:3%;
    margin-right:3%;
    width: 93%;
    resize:none;
    background-color:#D9D9D9;
}

.body {
    width: 90%;
    height: 200px;
    background-color: #073B6B;
}
.col_title{
    float:left;
    width:32.5%;
    text-align: center;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.col_xtitle{
    float:left;
    width:35%;
    text-align: center;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.col_results{
    float:left;
    width:32.5%;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
.col_xresults{
    float:left;
    width:35%;
    border-right:3px solid rgb(255, 96, 96);
    border-bottom:3px solid rgb(255, 96, 96);
}
